{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="card centered">
    <div class="card-body">
        <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
        {{ form_start(form, {'attr':{'novalidate':true, 'class':'needs-validation'} }) }}
        <div class="form-floating mb-3">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_label(form.email) }}
            <div class="invalid-feedback">
                Please choose an email.
            </div>
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            {{ form_label(form.plainPassword.first) }}
            <div class="invalid-feedback">
                Please choose a password.
            </div>
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            {{ form_label(form.plainPassword.second) }}
            <div class="invalid-feedback">
                Please repeat the password.
            </div>
        </div>
        <div class="form-error">
            {{ form_errors(form) }}
        </div>
        <button class="btn btn-lg btn-primary float-end" type="submit">Register</button>
        {{ form_end(form) }}
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <a class="mx-2" href="{{ path('app_login') }}">Back to login page</a>
        </div>
    </div>
</div>
{% endblock %}
